<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="row w-100">
        <div class="col-md-6 d-flex flex-column justify-content-center text-center">
            <h1 class="mb-4 colorOne colorAnimation">Your Gateway to Premier Job Opportunities and Internships</h1>
            <p>Explore a wide range of careers and gain valuable experience with our trusted platform.</p>
            <% if (!locals.userEmail) { %>
                <div>
                    <a href="/jobs" class="btn  btn-lg active bgGradient text-light" role="button"
                        aria-pressed="true">I'm A
                        Job
                        Seeker</a>
                    <a href="/login" class="btn  btn-lg active bgGradient text-light" role="button"
                        aria-pressed="true">I'm
                        A Recruiter</a>
                </div>
                <% } else {%>
                    <h1 class="bgGradient">
                        Hii <%= locals.userEmail %>
                    </h1>
                    <% if (locals.lastVisit) { %>
                        <h6>
                            Your last visit was on: <%= locals.lastVisit %>
                        </h6>
                        <% } %>
                            <% }%>
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
            <img src="./assets/banner.png" class="img-fluid" alt="Hero Image">
        </div>
    </div>
</div>